@page "/order-success"
@inject ICartService CartService

<PageTitle>Dzięki!</PageTitle>

<h3>Zamówienie zostało złożone!</h3>

<span>Dziękujemy za złożenie zamówienia! <br />
    
    Tutaj możesz sprawdzić status swoich <a href="orders">zamówień</a>.
</span>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }
}